<aside class="profile-card">
    <form>
        <header>
            <p>
                Login
            </p>
            <h1>
                <button type="button" class="submit" (click)="submit(uname, pass)">Login</button>
            </h1>
        </header>
        <input type="text" placeholder="Username" class="labletext" name="uname" required [(ngModel)]="uname">
        <input type="password" placeholder="Password" class="labletext" name="pass" required [(ngModel)]="pass">
        <div class="error">{{error}}</div>
        <div class="profile-social-links">
            <p>Not a member?
                <a (click)="signin()">Signin</a></p>
        </div>
    </form>
</aside>